@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

/*Title*/
#maintitle {
	font-weight: bold;
	font-size: 50px;
	line-height: 1em;
	color: #000;
	text-shadow: 2px 1px 2px rgba(255,255,255,0.8);
	text-align: left;
}

/*Base backgrounds*/
.hurr-bkg {
	background-color: #c5daf4;
	background-image: url('assets/background.jpg');
	background-size: cover; /*1920px 990px;*/
	background-position: top center;
	background-repeat: no-repeat;
	float: none;
	margin: 0px auto;
	max-width: 1920px;
	max-height: 990px;
}

.basebox {
	border: 1px solid white;
	background-color: rgba(255,255,255,0.5);
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	line-height: 1.1em;
	padding: 10px;
}

#map-draggable-wrap {
	position: relative;
	border: 1px solid red;
	width: 800px;
	height: 534px;
}

.map-bkg {
	width: 100%;
}

.hidden {
	display: none;
}
.droppable-area {
	position: absolute;
	width: 70px;
	height: 70px;
	border: 2px dashed white;
	border-radius: 50%;
}
#a1 {
	left: 61px;
	top: 136px;
}
#a2 {
	left: 161px;
	top: 241px;
}
#a3 {
	left: 197px;
	top: 96px;
}
#a4 {
	left: 280px;
	top: 126px;
}

#a5 {
	left: 340px;
	top: 185px;
}
#a6 {
	left: 356px;
	top: 268px;
}
#a7 {
	left: 697px;
	top: 20px;
}
#a8 {
	left: 380px;
	top: 30px;
}

#a9 {
	left: 550px;
	top: 45px;
}
#a10 {
	left: 425px;
	top: 125px;
}
#a11 {
	left: 568px;
	top: 154px;
}
#a12 {
	left: 527px;
	top: 286px;
}
#a0 {
	left: 640px;
	top: 300px;
}

#starter-list {
	border: 1px solid purple;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 455px;
	top: 260px;
}